
nav {
    background-color: green;
}
.dropzone {
  height: 60%;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  max-height: 400px;
}

.monsterContainer {
  position: relative;
  top:50px;
}


.hide {
 visibility: hidden;
}

.show {
  visibility: visible;
}

.monsterImage {
  height: 400px;
}

#bodyRed {
  background: url("../images/monsterBodies/red.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
#bodyOrange {
  background: url("../images/monsterBodies/orange.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
#bodyYellow {
  background: url("../images/monsterBodies/yellow.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
#bodyGreen {
  background: url("../images/monsterBodies/green.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
#bodyBlue {
  background: url("../images/monsterBodies/blue.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
#bodyTeal {
  background: url("../images/monsterBodies/teal.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
#bodyIndigo {
  background: url("../images/monsterBodies/indigo.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
#bodyTan {
  background: url("../images/monsterBodies/tan.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

#bodyPink {
  background: url("../images/monsterBodies/pink.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

#bodyPurple {
  background: url("../images/monsterBodies/purple.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

#bodyRainbow {
  background: url("../images/monsterBodies/rainbow.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

#bodyBlack {
  background: url("../images/monsterBodies/black.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

#bodyPeach {
  background: url("../images/monsterBodies/peach.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

#bodyCoral{
  background: url("../images/monsterBodies/coral.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

#bodyBrown {
  background: url("../images/monsterBodies/brown.svg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.drop-active {
}

.drop-target {
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 120px;
  padding: 0.5em 0.5em;
  color: #fff;
}

.drag-drop.can-drop {
}

body {
  padding: 1em;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.siteName {
  font-size: 38px;
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/**/


.carousel-inner .active.left { 
  left: -25%; 
}
.carousel-inner .next { 
  left:  25%; 
}
.carousel-control { 
  width:  4%; 
}
.carousel-control.left,.carousel-control.right {
  margin-left:15px; 
  background-image:none;
}


/**/
/*
a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}
*/
.box {
  background-color: transparent;
  max-width: 90px;
  height: auto;
  float: left;
  margin: 5px;
  z-index: 100;
}


#toiletCont {
  height: 1250px;
  background-repeat: no-repeat;

}

.group:after {
  content: "";
  display: table;
  clear: both;`
}


.monsterImage {
    ;

}

.monsterImage img{
  z-index: -1;
  max-width: 160px;
  height: auto;
}`


.hatBox img {
  max-width: 20%;
}

@media screen and (max-width: 440px) {
  .dropzone {
    background-position: 50% 0%;
  }
  #container {
    height: 1200px;
    background-size: 31%;
    background-position: 50% 89%;
  }
}

  .englishSm, .frenchSm, .spanishSm {
    font-size: 10px;
  }

@media screen and (max-width: 550px) {
  .englishBig, .frenchBig, .spanishBig {
    visibility: hidden;
  }
  .englishSm, .frenchSm, .spanishSm {
    display: visible;
  }
  .siteName {
    font-size: 24px;
  }

}
@media screen and (min-width: 550px) {
  .englishBig, .frenchBig, .spanishBig {
    visibility: visible;
  }
  .englishSm, .frenchSm, .spanishSm {
    visibility: hidden;
    display: none;`
  }

}


/* NEED MEDIA QUERIES FOR ANYTHING LESS THAN 475px*/